  .page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
  }


  .header__logo-place {
    position: absolute;
    background-image: url(../images/logo_place_footer.svg);
    top: 30px;
    left: 64px;
    width: 228px;
    height: 32px;
  }

  .header__title {
    display: flex;
    position: relative;
    width: 730px;
    margin-left: 64px;
    color: #10191E;
    font-size: 102px;
    line-height: 92px;
    font-weight: 600;
  }

  .header__subtitle {
    position: absolute;
    width: 388px;
    color: #10191E;
    left: 64px;
    bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }

  .link {
    text-decoration: none;
  }

  .header__title-flex {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .header__main-illustration {
    position: absolute;
    background-image: url(../images/header-image.png);
    width: 765px;
    height: 608px;
    z-index: 2;
    background-size: cover;
    right: 0;
    bottom: 0;
  }

  .header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    z-index: 1;
    right: 0;
    top: 64px;
  }


  .description {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .description__two-columns {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .description__two-columns-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
  }

  .description__two-columns-brief {
    line-height: 1.2;
    font-size: 18px;
    color: #2f80ed;
    width: 175px;
    height: 370px;
    font-weight: normal;
  }


  .second_column-description {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
  }

  .description__two-columns-paragraph {
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: normal;
  }



  .description__two-columns-span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
  }


  .digits {
    margin-top: 100px;
  }

  .digits__column-title {
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }

  .digits__column-subtitle {
    margin-top: 20px;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
  }

  .digits__column {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .digits__column-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    margin-bottom: 100px;
  }

  .digits__column-table-cell {
    width: 250px;
    margin-top: 60px;
  }

  .digits__column-table-heading {
    margin-top: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
  }

  .digits__column-table-text {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }

  .feynman {
    background-color: #f2f2f2;
    height: 890px;
  }

  .feynman__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    text-align: center;

  }



  .feynman__image {
    background-image: url(../images/feynman.png);
    position: absolute;
    width: 867px;
    height: 637px;
    background-size: cover;
    margin-top: -366px;
    z-index: 0;
  }

  .feynman__row {
    display: flex;
    flex-direction: row;
  }

  .feynman__link {
    position: absolute;
    right: 0;
    margin-right: 45px;
    margin-top: 50px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;

  }

  .feynman__title {
    margin-top: 100px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    width: 648px;
  }

  .feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

  .kaufman {
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .kaufman-column {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .kaufman-title {
    margin: 90px auto 0;
    width: 60%;
    color: white;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
  }

  .kaufman-subtitle {
    color: white;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: normal;
  }

  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }

  .table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }

  .table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    margin-top: 20px;
    font-weight: normal;
    text-align: left;
  }


  .table__theme_dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 1100px;
    margin-bottom: 90px;
  }

  .table__cell_theme_dark {
    margin-top: 80px;
  }

  .triangle {
    background-image: url(../images/kaufman-triangle.svg);
    position: absolute;
    width: 877px;
    height: 877px;
    z-index: 0;
    right: -210px;
    overflow: hidden;
  }

  .footer {
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 350px;
  }


  .footer__columns {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .footer__flexrow {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
  }

  .footer__column_content_info {
    display: flex;
    flex-direction: column;
    width: 130px;
  }

  .footer__column_content_social {
    display: flex;
    flex-direction: column;
  }

  .footer__logo-place {
    background-image: url(../images/logo_place_footer.svg);
    width: 228px;
    height: 32px;
  }

  .footer__author {
    color: white;
    padding: 18px 0 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    width: 200px;
  }


  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 130px;
  }

  .footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
  }

  .footer__column-link {
    margin-top: 20px;
  }



  .social-icon_y {
    background-image: url(../images/youtube-icon.svg);
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  .social-icon_v {
    background-image: url(../images/vk_color_white.svg);
    background-size: cover;
    width: 16px;
    height: 16px;
  }


  .social-icon_t {
    background-image: url(../images/tiktok-icon.svg);
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  .footer__social_icon {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }

  .footer__social_icon_text {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }